@media screen and  (min-width: 1441px) and (max-width: 1920px){

}

@media screen and (min-width: 1441px) and (max-width: 1920px){
.glass1{
        position: absolute;
        width: 49%;
        margin-top: -1%;
        margin-left: -51%;
    }
    
    .glass2{
        width: 8%;
        position: absolute;
        margin-top: 1%;
        margin-left: -3%;
    }
    
    .glass3{
        width: 54%;
        position: absolute;
        margin-top: -5%;
        margin-left: 0%;
    }
    
    .glass4{
        width: 36%;
        position: absolute;
        margin-top: 16%;
        margin-left: 17%;
    }
    
    .glass5{
        width: 25%;
        position: absolute;
        margin-top: 13%;
        margin-left: -52%;
    }
    
    .glass6{
        width: 56%;
        position: absolute;
        margin-top: 41%;
        margin-left: -56%;
    }
    
    .glass7{
        width: 38%;
        position: absolute;
        margin-top: 32%;
        margin-left: -38%;
    }
    
    .glass8{
        position: absolute;
        margin-top: 35%;
        margin-left: -6%;
    }
    
    .glass9{
        position: absolute;
        margin-top: 29%;
        margin-left: -5%;
    }
    
}

@media screen and (min-width: 1025px) and (max-width: 1366px){

}



@media screen and (min-width: 769px) and (max-width: 1440px){
    .hadle{
        position: relative;
        margin-left: 0%;
        margin-top: 0%;
        background: url(../img/handle.png);
        width: 10%;
        height: 60%;
        overflow: hidden;
        background-size: cover;
        animation: handlee 1s steps(1) infinite;
    }
    
    @keyframes handlee{
        0%{ background-position: 0;}
        20%{ background-position: 8vw;}
        /*40%{ background-position: -140vw;}
        60%{ background-position: -210vw;}
        100%{ background-position: -280vw;}*/
    }

    .glass1{
        position: absolute;
        width: 49%;
        margin-top: -4%;
        margin-left: -51%;
    }
    
    .glass2{
        width: 8%;
        position: absolute;
        margin-top: 1%;
        margin-left: -3%;
    }
    
    .glass3{
        width: 54%;
        position: absolute;
        margin-top: -5%;
        margin-left: 0%;
    }
    
    .glass4{
        width: 36%;
        position: absolute;
        margin-top: 16%;
        margin-left: 17%;
    }
    
    .glass5{
        width: 25%;
        position: absolute;
        margin-top: 13%;
        margin-left: -53%;
    }
    
    .glass6{
        width: 56%;
        position: absolute;
        margin-top: 41%;
        margin-left: -56%;
    }
    
    .glass7{
        width: 38%;
        position: absolute;
        margin-top: 32%;
        margin-left: -38%;
    }
    
    .glass8{
        position: absolute;
        margin-top: 35%;
        margin-left: -6%;
    }
    
    .glass9{
        position: absolute;
        margin-top: 29%;
        margin-left: -5%;
    }
    


    .tickets{
        width: 15vw;
        height: 40vw;
        margin-left: 41%;
        margin-top: -57.4%;
    }

    .champagne{
        border: #3D0707 solid 1vw;
        width: 53.5vw;
        height: 38vw;
        background: #FAEED6;
        position: relative;
        margin-left: 42.2%;
        margin-top: -58%;
        overflow: hidden;
        background: url(../img/champagne.png);
        background-size:contain;
        background-repeat: no-repeat;
    
        animation: champagne1 0.9s steps(1) infinite;
    }

    @keyframes champagne1{
        /*0%{ background-position: 7.4vw;}*/
        50%{ background-position: 92vw;}
        /*100% { background-position: 7.4vw;}*/
    }




}



@media screen and (min-width: 414px) and (max-width: 767px){
    .background{
        position: relative;
        margin-left: -2%;
        margin-top: -2%;
        /*width:102%;*/
        height: 700px;
    }

    .cards img{
        width: 22%;  
      }


    .card1{
        margin-left: -42%;
        margin-top: -40%;
    }
    
    .card2{
        margin-left: 5%;
        margin-top: -70%;
    }
    
    .card3{
        margin-left: -31%;
        margin-top: 15%;
    }
    
    .card4{
        margin-left: 17%;
        margin-top: 15%;
    }

    .glass1{
        width: 60%;
        margin-top: -77%;
        margin-left: -53%;
    }

    .glass2{
        width: 10%;
        margin-top: -45%;
        margin-left: -10%;
        transform: rotate(-30deg);
    }
    .glass3{
        width: 65%;
        margin-top: -77%;
        margin-left: 0%;
    }
    
    .glass4{
        width: 50%;
        margin-top: -46%;
        margin-left: 5%;
    }
    
    .glass5{
        width: 49%;
        margin-top: -60%;
        margin-left: -55%;
    }
    
    .glass6{
        width: 110%;
        position: absolute;
        margin-top: -5%;
        margin-left: -63%;
    }
    
    .glass7{
        width: 55%;
        position: absolute;
        margin-top: -15%;
        margin-left: -25%;
    }
    
    .glass8{
        width: 0%;
        position: absolute;
        margin-top: -20%;
        margin-left: 25%;
    }
    
    .glass9{
        width: 170%;
        position: absolute;
        margin-top: -20%;
        margin-left: -5%;
    }

    .vremeno{
        position:absolute;
        width: 90%;
        margin-left: -45%;
        margin-top: -20%;
    }

    .watch{
        width: 40%;
        margin-left: 55%;
        margin-top: 57%;
    }

    .piece img{
        width: 0%;
    }
    .roulette img{
        width: 95%;
        margin-left: 2%;
        margin-top: 15%;
    }

    
.hadle{
    position: relative;
    margin-left: -220%;
    margin-top: 0%;
    background: url(../img/handle.png);
    width: 10%;
    height: 60%;
    overflow: hidden;
    background-size: cover;
    animation: handlee 1s steps(1) infinite;
}

@keyframes handlee{
    0%{ background-position: 0;}
    20%{ background-position: 8vw;}
    /*40%{ background-position: -140vw;}
    60%{ background-position: -210vw;}
    100%{ background-position: -280vw;}*/
}


.ticket{
    font-size: 4vw;
    margin-left: 4.5%;
    margin-top: -24%;
}

.seven1{
    font-size: 11vw;
    margin-left: 35%;
    margin-top: -28%;
}

.seven2{
    font-size: 11vw;
    margin-left: 71%;
    margin-top: -28%;
}

.hourglass{
    width: 6%;
    margin-left: 54%;
    margin-top: -26%;
}


    .razbit img{
        position:relative;
         width: 35%;
         margin-top: 8%;
         margin-left: 2%;
     }

    .table{
        width: 93%;
        margin-left: 2%;
        margin-top: 155%;
    }

    .broken{
        border: #3D0707 solid 1vw;
        width: 88vw;
        height: 103vw;
        background: #FAEED6;
        margin-left: 2%;
        background-size: 100%;
        margin-top: 2%;
        overflow: hidden; }


    .broken2 {
        width: 110vw;
        animation: hourglass 0.9s ease infinite;
        margin-left: -15%;
        margin-top: 0%;
        }

        .ball1{
            position: absolute;
            width: 13%;
            margin-left: 24%;
            margin-top: 180%;
            animation: ball1a 3s ease-in-out infinite;
        }
        
        
        .ball2{
            width: 13%;
            position: absolute;
            margin-left: 70%;
            margin-top: 190%;
        }
        
        .ball8{
            width: 13%;
            position: absolute;
            margin-left: 35%;
            margin-top: 210%;
            animation: ball8 3s ease-in-out infinite;
        }
        
        .ball4{
            width: 13%;
            position: absolute;
            margin-left: 9%;
            margin-top: 250%;
        }
        
        .ball3{
            width: 13%;
            position: absolute;
            margin-left: 60%;
            margin-top: 280%;
        }
        
        .hand{
            width: 37%;
            position: absolute;
            margin-left: 8%;
            margin-top: 250%;
        }
        

        .diceglasses{
            position:relative;
            width: 100%;
            margin-left: 2%;
            margin-top: 170%;
        }
        
        
        
        .dice1{
            position: relative;
            width: 43%;
            margin-left: -45%;
            margin-top: 80%;
            animation: spin 1s infinite linear;
        }
        
        
        .dice2{
            position: absolute;
            width: 53%;
            margin-left: -60%;
            margin-top: 160%;
            animation: spin2 1s infinite linear;
        }
        
        
        .dice3{
            position: absolute;
            width: 53%;
            margin-left: -105%;
            margin-top: 170%;
            animation: spin3 1s infinite linear;
        }

        .tickets{
            width: 20vw;
            height: 70vw;
            margin-left: 0%;
            margin-top: -120%;
            animation: ticketss 1s steps(1) infinite;
        }

        @keyframes ticketss{
            0%{ background-position: 0px;}
            40%{ background-position: -22vw;}
            60%{ background-position: -45vw;}
            80%{ background-position: -66vw;}
            100%{ background-position: -88s;}
        }


        .rouletteee{
            width: 89vw;
            height: 84vw;
            background-size: cover;
            margin-top: -32%;
            margin-left: 2.3%;
            animation: roulett 2s steps(1) infinite;
        }

    @keyframes roulett {
    0% { background-position: 0vw;}
    20% { background-position: -213vw;}
    30% { background-position: -425.5vw;}
   40% { background-position: -637.8vw;}
    50% { background-position: -850vw;}
    60% { background-position: -1070vw;}
    70% { background-position: -1282svw;}
   80% { background-position: -1495vw;}
        }

        .star2{
            margin-top: -91%;
            margin-left: -0.3%;
            height: 23%
            }

            .cardglass{
                width: 89vw;
                margin-left: 2.3%;
                margin-top: -28%
            }

            .cardb{
                margin-top: -30%
            }
            
            .cardb1{
                width: 76%;
                margin-top: -105%;
                margin-left: 3%;
                animation: cardb1 3s ease infinite
            }
            
            
            .cardb2{
                width: 45%;
                margin-top: -95%;
                margin-left: -45%;
                position: absolute;
                animation: cardb2 3s ease infinite
            }
            
            
            .cardb3{
                position: absolute;
                width: 30%;
                margin-top: -125%;
                margin-left: -17%;
                animation: cardb3 3s ease infinite; 
            }
            
            
            .cardb4{
                width: 87%;
                margin-top: -95%;
                margin-left: -20%;
                animation: cardb4 3s ease infinite;
                position: absolute;
            }

            .champagne{
                border: #3D0707 solid 1vw;
                width: 87vw;
                height: 60vw;
                background: #FAEED6;
                position: relative;
                /*background-size: inherit;*/
                margin-left: 2%;
                margin-top: -45%;
                overflow: hidden;
                background: url(../img/champagne.png);
                background-size: cover;
                /*background-repeat: no-repeat;
                background-position: center;*/
                animation: champagne1 0.9s steps(1) infinite;
            }

            @keyframes champagne1{
                /*0%{ background-position: 7.4vw;}*/
                50%{ background-position: 92vw;}
                /*100% { background-position: 7.4vw;}*/
            }
            

            .chips{
                border: #3D0707 solid 1vw;
                width: 87vw;
                height: 25vw;
                background: #FAEED6;
                margin-left: 2%;
                margin-top: 30%;
                overflow: hidden;
                background: url(../img/chips.png);
            }
            .sign{
                position: absolute;
                width: 95%;
                margin-top: -5%
            }
            
            .casino{
                position: absolute;
                width: 45%;
                color:#C30000;
                margin-left: 25%;
                margin-top: 15%;
            }
            
            .oftime{
                position: absolute;
                width: 18%;
                margin-left: 35%;
                margin-top: 27%;
            }
            
            .dostoyevsky{
                position: absolute;
                font-size: 3vw;
                margin-left: 35%;
                margin-top: 10%;
            }
            
            .moscow{
                position: absolute;
                width: 54%;
                margin-left: 22%;
                margin-top: 1.5%;
            }
            
            .glasssign1{
                width: 0%;
            }
            
            
            .glasssign2{
                width: 0%;
            }

            
.glasssign3{
    width: 60%;
    margin-top: 15%;
    margin-left: 1%;
    animation: glasssign3 3s ease infinite;
}

.glasssign4{
    width: 50%;
    margin-top: 9%;
    margin-left: -15%;
    animation: glasssign4 3s ease infinite;
}

.glasssign5{
    width: 0%;
    margin-top: 25%;
    margin-left: -90%;
    animation: glasssign5 3s ease infinite;
}

.signature{
    width: 75%;
    margin-left: 21%;
    position: absolute;
    margin-top: -9%;
    animation: signature 3s ease infinite;
}
            
}

@media screen and (min-device-width: 360px) and (max-device-width: 414px){
    .background{
        position: relative;
        margin-left: -2%;
        margin-top: -2%;
        /*width:102%;*/
        height: 700px;
    }

    .cards img{
        width: 22%;  
      }


    .card1{
        margin-left: -42%;
        margin-top: -40%;
    }
    
    .card2{
        margin-left: 5%;
        margin-top: -70%;
    }
    
    .card3{
        margin-left: -31%;
        margin-top: 15%;
    }
    
    .card4{
        margin-left: 17%;
        margin-top: 15%;
    }

    .glass1{
        width: 60%;
        margin-top: -77%;
        margin-left: -53%;
    }

    .glass2{
        width: 10%;
        margin-top: -45%;
        margin-left: -10%;
        transform: rotate(-30deg);
    }
    .glass3{
        width: 65%;
        margin-top: -77%;
        margin-left: 0%;
    }
    
    .glass4{
        width: 50%;
        margin-top: -46%;
        margin-left: 5%;
    }
    
    .glass5{
        width: 49%;
        margin-top: -60%;
        margin-left: -55%;
    }
    
    .glass6{
        width: 110%;
        position: absolute;
        margin-top: -5%;
        margin-left: -63%;
    }
    
    .glass7{
        width: 55%;
        position: absolute;
        margin-top: -15%;
        margin-left: -25%;
    }
    
    .glass8{
        width: 0%;
        position: absolute;
        margin-top: -20%;
        margin-left: 25%;
    }
    
    .glass9{
        width: 170%;
        position: absolute;
        margin-top: -20%;
        margin-left: -5%;
    }

    .vremeno{
        position:absolute;
        width: 90%;
        margin-left: -45%;
        margin-top: -20%;
    }

    .watch{
        width: 40%;
        margin-left: 55%;
        margin-top: 57%;
    }

    .piece img{
        width: 0%;
    }
    .roulette img{
        width: 95%;
        margin-left: 2%;
        margin-top: 15%;
    }

    


.ticket{
    font-size: 4vw;
    margin-left: 4.5%;
    margin-top: -24%;
}

.seven1{
    font-size: 11vw;
    margin-left: 35%;
    margin-top: -28%;
}

.seven2{
    font-size: 11vw;
    margin-left: 71%;
    margin-top: -28%;
}

.hourglass{
    width: 6%;
    margin-left: 54%;
    margin-top: -26%;
}


    .razbit img{
        position:relative;
         width: 35%;
         margin-top: 8%;
         margin-left: 2%;
     }

    .table{
        width: 93%;
        margin-left: 2%;
        margin-top: 155%;
    }

    .broken{
        border: #3D0707 solid 1vw;
        width: 88vw;
        height: 103vw;
        background: #FAEED6;
        margin-left: 2%;
        background-size: 100%;
        margin-top: 2%;
        overflow: hidden; }


    .broken2 {
        width: 110vw;
        animation: hourglass 0.9s ease infinite;
        margin-left: -15%;
        margin-top: 0%;
        }

        .ball1{
            position: absolute;
            width: 13%;
            margin-left: 24%;
            margin-top: 180%;
            animation: ball1a 3s ease-in-out infinite;
        }
        
        
        .ball2{
            width: 13%;
            position: absolute;
            margin-left: 70%;
            margin-top: 190%;
        }
        
        .ball8{
            width: 13%;
            position: absolute;
            margin-left: 35%;
            margin-top: 210%;
            animation: ball8 3s ease-in-out infinite;
        }
        
        .ball4{
            width: 13%;
            position: absolute;
            margin-left: 9%;
            margin-top: 250%;
        }
        
        .ball3{
            width: 13%;
            position: absolute;
            margin-left: 60%;
            margin-top: 280%;
        }
        
        .hand{
            width: 37%;
            position: absolute;
            margin-left: 8%;
            margin-top: 250%;
        }
        

        .diceglasses{
            position:relative;
            width: 100%;
            margin-left: 2%;
            margin-top: 170%;
        }
        
        
        
        .dice1{
            position: relative;
            width: 43%;
            margin-left: -45%;
            margin-top: 80%;
            animation: spin 1s infinite linear;
        }
        
        
        .dice2{
            position: absolute;
            width: 53%;
            margin-left: -60%;
            margin-top: 160%;
            animation: spin2 1s infinite linear;
        }
        
        
        .dice3{
            position: absolute;
            width: 53%;
            margin-left: -105%;
            margin-top: 170%;
            animation: spin3 1s infinite linear;
        }

        .tickets{
            width: 15vw;
            height: 40vw;
            margin-left: 4%;
            margin-top: -120%;
        }


        .rouletteee{
            width: 89vw;
            height: 84vw;
            background-size: cover;
            margin-top: -32%;
            margin-left: 2.3%;
            animation: roulett 2s steps(1) infinite;
        }

    @keyframes roulett {
    0% { background-position: 0vw;}
    20% { background-position: -213vw;}
    30% { background-position: -425.5vw;}
   40% { background-position: -637.8vw;}
    50% { background-position: -850vw;}
    60% { background-position: -1070vw;}
    70% { background-position: -1283svw;}
   80% { background-position: -1497vw;}
        }
        
        .star2{
            margin-top: -91%;
            margin-left: -0.3%;
            height: 23%
            }
            .champagne{
                border: #3D0707 solid 1vw;
                width: 87vw;
                height: 60vw;
                background: #FAEED6;
                position: relative;
                /*background-size: inherit;*/
                margin-left: 2%;
                margin-top: -45%;
                overflow: hidden;
                background: url(../img/champagne.png);
                background-size: cover;
                /*background-repeat: no-repeat;
                background-position: center;*/
                animation: champagne1 0.9s steps(1) infinite;
            }

            @keyframes champagne1{
                /*0%{ background-position: 7.4vw;}*/
                50%{ background-position: 92vw;}
                /*100% { background-position: 7.4vw;}*/
            }

            
            .chips{
                border: #3D0707 solid 1vw;
                width: 87vw;
                height: 25vw;
                background: #FAEED6;
                margin-left: 2%;
                margin-top: 9%;
                overflow: hidden;
                background: url(../img/chips.png);
            }
            .sign{
                position: absolute;
                width: 95%;
                margin-top: -5%
            }
            
            .casino{
                position: absolute;
                width: 45%;
                color:#C30000;
                margin-left: 25%;
                margin-top: 15%;
            }
            
            .oftime{
                position: absolute;
                width: 18%;
                margin-left: 35%;
                margin-top: 27%;
            }
            
            .dostoyevsky{
                position: absolute;
                font-size: 3vw;
                margin-left: 35%;
                margin-top: 10%;
            }
            
            .moscow{
                position: absolute;
                width: 54%;
                margin-left: 22%;
                margin-top: 1.5%;
            }
            
            .glasssign1{
                width: 0%;
            }
            
            
            .glasssign2{
                width: 0%;
            }

            .glasssign3{
                width: 60%;
                margin-top: 15%;
                margin-left: 1%;
                animation: glasssign3 3s ease infinite;
            }
            
            .glasssign4{
                width: 50%;
                margin-top: 9%;
                margin-left: -15%;
                animation: glasssign4 3s ease infinite;
            }
            
            .glasssign5{
                width: 0%;
                margin-top: 25%;
                margin-left: -90%;
                animation: glasssign5 3s ease infinite;
            }
            
            .signature{
                width: 75%;
                margin-left: 12%;
                position: absolute;
                margin-top: -9%;
                animation: signature 3s ease infinite;
            }

            .tickets{
                width: 20vw;
                height: 70vw;
                margin-left: 0%;
                margin-top: -120%;
                animation: ticketss 1s steps(1) infinite;
            }
    
            @keyframes ticketss{
                0%{ background-position: 0px;}
                40%{ background-position: -22vw;}
                60%{ background-position: -45vw;}
                80%{ background-position: -66vw;}
                100%{ background-position: -88s;}
            }
}