@media screen and  (min-width: 1441px) and (max-width: 1920px){

}

@media screen and (min-width: 1441px) and (max-width: 1920px){
.glass1{
        position: absolute;
        width: 49%;
        margin-top: -1%;
        margin-left: -51%;
    }
    
    .glass2{
        width: 8%;
        position: absolute;
        margin-top: 1%;
        margin-left: -3%;
    }
    
    .glass3{
        width: 54%;
        position: absolute;
        margin-top: -5%;
        margin-left: 0%;
    }
    
    .glass4{
        width: 36%;
        position: absolute;
        margin-top: 16%;
        margin-left: 17%;
    }
    
    .glass5{
        width: 25%;
        position: absolute;
        margin-top: 13%;
        margin-left: -52%;
    }
    
    .glass6{
        width: 56%;
        position: absolute;
        margin-top: 41%;
        margin-left: -56%;
    }
    
    .glass7{
        width: 38%;
        position: absolute;
        margin-top: 32%;
        margin-left: -38%;
    }
    
    .glass8{
        position: absolute;
        margin-top: 35%;
        margin-left: -6%;
    }
    
    .glass9{
        position: absolute;
        margin-top: 29%;
        margin-left: -5%;
    }
    
}

@media screen and (min-width: 1025px) and (max-width: 1366px){

}



@media screen and (min-width: 769px) and (max-width: 1440px){
    .glass1{
        position: absolute;
        width: 49%;
        margin-top: -4%;
        margin-left: -51%;
    }
    
    .glass2{
        width: 8%;
        position: absolute;
        margin-top: 1%;
        margin-left: -3%;
    }
    
    .glass3{
        width: 54%;
        position: absolute;
        margin-top: -5%;
        margin-left: 0%;
    }
    
    .glass4{
        width: 36%;
        position: absolute;
        margin-top: 16%;
        margin-left: 17%;
    }
    
    .glass5{
        width: 25%;
        position: absolute;
        margin-top: 13%;
        margin-left: -52%;
    }
    
    .glass6{
        width: 56%;
        position: absolute;
        margin-top: 41%;
        margin-left: -56%;
    }
    
    .glass7{
        width: 38%;
        position: absolute;
        margin-top: 32%;
        margin-left: -38%;
    }
    
    .glass8{
        position: absolute;
        margin-top: 35%;
        margin-left: -6%;
    }
    
    .glass9{
        position: absolute;
        margin-top: 29%;
        margin-left: -5%;
    }
    
    .hadle{
        position: absolute;
        margin-left: 88.5%;
        margin-top: -31.5%;
        background: url(../img/handle.png);
    }

    .tickets{
        width: 15vw;
        height: 40vw;
        margin-left: 40%;
        margin-top: -57%;
    }






}

@media screen and (min-width: 415px) and (max-width: 768px){
    .glass1{
        position: absolute;
        width: 49%;
        margin-top: -9%;
        margin-left: -52%;
    }
}

@media screen and (min-width: 414px) and (max-width: 767px){
    .background{
        position: relative;
        margin-left: -2%;
        margin-top: -2%;
        /*width:102%;*/
        height: 700px;
    }

    .cards img{
        width: 22%;  
      }


    .card1{
        margin-left: -42%;
        margin-top: -40%;
    }
    
    .card2{
        margin-left: 5%;
        margin-top: -70%;
    }
    
    .card3{
        margin-left: -31%;
        margin-top: 15%;
    }
    
    .card4{
        margin-left: 17%;
        margin-top: 15%;
    }

    .glass1{
        width: 60%;
        margin-top: -77%;
        margin-left: -53%;
    }

    .glass2{
        width: 10%;
        margin-top: -45%;
        margin-left: -10%;
        transform: rotate(-30deg);
    }
    .glass3{
        width: 65%;
        margin-top: -77%;
        margin-left: 0%;
    }
    
    .glass4{
        width: 50%;
        margin-top: -46%;
        margin-left: 5%;
    }
    
    .glass5{
        width: 49%;
        margin-top: -60%;
        margin-left: -55%;
    }
    
    .glass6{
        width: 110%;
        position: absolute;
        margin-top: -5%;
        margin-left: -63%;
    }
    
    .glass7{
        width: 55%;
        position: absolute;
        margin-top: -15%;
        margin-left: -25%;
    }
    
    .glass8{
        width: 0%;
        position: absolute;
        margin-top: -20%;
        margin-left: 25%;
    }
    
    .glass9{
        width: 170%;
        position: absolute;
        margin-top: -20%;
        margin-left: -5%;
    }

    .vremeno{
        position:absolute;
        width: 90%;
        margin-left: -45%;
        margin-top: -20%;
    }

    .watch{
        width: 40%;
        margin-left: 55%;
        margin-top: 57%;
    }

    .piece img{
        width: 0%;
    }
    .roulette img{
        width: 95%;
        margin-left: 2%;
        margin-top: 15%;
    }

    
.hadle{
    border: black 1px solid;
    position: absolute;
    margin-left: -60%;
    margin-top: 0%;
    background: url(../img/handle.png);
    width: 30%;
    height: 75%;
    overflow: hidden;
    animation: handle 1s steps(1) infinite;
}


.ticket{
    font-size: 4vw;
    margin-left: 4.5%;
    margin-top: -24%;
}

.seven1{
    font-size: 11vw;
    margin-left: 35%;
    margin-top: -28%;
}

.seven2{
    font-size: 11vw;
    margin-left: 71%;
    margin-top: -28%;
}

.hourglass{
    width: 6%;
    margin-left: 54%;
    margin-top: -26%;
}


    .razbit img{
        position:relative;
         width: 35%;
         margin-top: 8%;
         margin-left: 2%;
     }

    .table{
        width: 38%;
        margin-left: 2%;
        margin-top: 45%;
    }

    .broken{
        border: #3D0707 solid 0.5vw;
        width: 88vw;
        height: 100vw;
        background: #FAEED6;
        margin-left: 2%;
        background-size: 100%;
        margin-top: 2%;
        overflow: hidden; }


    .broken2 {
        width: 110vw;
        animation: hourglass 0.9s ease infinite;
        margin-left: -15%;
        margin-top: 0%;
        }
}

@media screen and (min-device-width: 360px) and (max-device-width: 414px){
    .background{
        position: relative;
        margin-left: -2%;
        margin-top: -2%;
        /*width:102%;*/
        height: 700px;
    }

    .glass1{
        width: 60%;
        margin-top: -77%;
        margin-left: -53%;
    }

    .glass2{
        width: 10%;
        margin-top: -40%;
        margin-left: -5%;
    }
    .glass3{
        width: 65%;
        margin-top: -77%;
        margin-left: 0%;
    }
    
    .glass4{
        width: 45%;
        margin-top: -20%;
        margin-left: 5%;
    }
    
    .glass5{
        width: 35%;
        margin-top: -25%;
        margin-left: -55%;
    }
    
    .glass6{
        width: 56%;
        position: absolute;
        margin-top: 41%;
        margin-left: -56%;
    }
    
    .glass7{
        width: 38%;
        position: absolute;
        margin-top: 32%;
        margin-left: -38%;
    }
    
    .glass8{
        position: absolute;
        margin-top: 35%;
        margin-left: -6%;
    }
    
    .glass9{
        position: absolute;
        margin-top: 29%;
        margin-left: -5%;
    }

    .vremeno{
        position:absolute;
        width: 85%;
        margin-left: -45%;
        margin-top: -20%;
    }
}