body{
    background: #6D0003;
    width: 100%;
    overflow-x: hidden;
}

.background{
    position: relative;
    margin-left: -2%;
    margin-top: -2%;
    width:102%;
}

.h{
    position: relative;
    margin-left: 0%;
    margin-top: -3%;
}

.section1{
   text-align: center;
   width: 100%;
   margin: auto;
}

.cards {
    margin-top: -73%;
  }

.cards img{
  width: 19%;  
}

.card1{
    transform: rotate(143.83deg); 
    margin-left: -42%;
    margin-top: 25%;
    position:absolute;
}

.card2{
    position:absolute;
    margin-left: -15%;
    margin-top: -2%;
    transform: rotate(73.83deg);
}

.card3{
    position:absolute;
    transform: rotate(73.83deg);
    margin-left: -5%;
    margin-top: 35%;
}

.card4{
    position:absolute;
    transform: rotate(20.1deg);
    margin-left: 25%;
    margin-top: 15%;
}

.glass1{
    position: absolute;
    width: 49%;
    margin-top: -1%;
    margin-left: -51%;
}

.glass2{
    width: 8%;
    position: absolute;
    margin-top: 1%;
    margin-left: -3%;
}

.glass3{
    width: 54%;
    position: absolute;
    margin-top: -5%;
    margin-left: 0%;
}

.glass4{
    width: 36%;
    position: absolute;
    margin-top: 16%;
    margin-left: 17%;
}

.glass5{
    width: 25%;
    position: absolute;
    margin-top: 13%;
    margin-left: -52%;
}

.glass6{
    width: 56%;
    position: absolute;
    margin-top: 41%;
    margin-left: -56%;
}

.glass7{
    width: 38%;
    position: absolute;
    margin-top: 32%;
    margin-left: -38%;
}

.glass8{
    position: absolute;
    margin-top: 35%;
    margin-left: -6%;
}

.glass9{
    position: absolute;
    margin-top: 29%;
    margin-left: -5%;
}



.vremeno{
    position:absolute;
    width: 70%;
    margin-left: -36%;
    margin-top: 20%;
}

.watch{
    position:relative;
    width: 29%;
    margin-left: 67.5%;
    margin-top: 75%;
    letter-spacing: 14%;
}


.razbit img{
    position:relative;
     width: 38%;
     margin-top: 5%;
     margin-left: 45%;
 }

.table{
    position: absolute;
    width: 38%;
    margin-left: 2%;
    margin-top: -25%;
}

.ball1{
    position: absolute;
    width: 5.5%;
    margin-left: 13%;
    margin-top: -15%;
    animation: ball1a 3s ease-in-out infinite;
}


.ball2{
    width: 5.5%;
    position: absolute;
    margin-left: 31%;
    margin-top: -10%;
}

.ball8{
    width: 5.5%;
    position: absolute;
    margin-left: 22%;
    margin-top: 3%;
    animation: ball8 3s ease-in-out infinite;
}

.ball4{
    width: 5.5%;
    position: absolute;
    margin-left: 6%;
    margin-top: 15%;
}

.ball3{
    width: 5.5%;
    position: absolute;
    margin-left: 27%;
    margin-top: 24%;
}

.hand{
    width: 17%;
    position: absolute;
    margin-left: 8%;
    margin-top: 10%;
}

.star1{
    width: 12%;
    position:absolute;
    margin-left: 32%;
    margin-top: -32%;
}

.piece{
    margin-left: 72.5%;
    margin-top: -20%;
}

.piece img{
    position:relative;
    width: 80%;
    margin-left: 9%;
    margin-top: 14%;
}

.roulette{
    position: relative;
}

.roulette img{
    width: 57%;
    margin-left: 42%;
    margin-top: 3.5%;
}


.hadle{
    position: absolute;
    margin-left: 88.5%;
    margin-top: -31.5%;
    background: url(../img/handle.png);
    width: 10%;
    height: 75%;
    overflow: hidden;
    animation: handle 1s steps(1) infinite;
}


.ticket{
    position: absolute;
    color: #C30000;
    font-size: 2vw;
    margin-left: 44.1%;
    margin-top: -13.8%;
}

.seven1{
    position: absolute;
    font-size: 6.6vw;
    margin-left: 61.6%;
    margin-top: -16.5%;
}

.seven2{
    position: absolute;
    font-size: 6.6vw;
    margin-left: 83.3%;
    margin-top: -16.5%;
}

.hourglass{
    width: 3.6%;
    position: absolute;
    margin-left: 73%;
    margin-top: -15.4%;
}

.tickets{
    background: url(../img/tickets.png);
    width: 15vw;
    height: 40vw;
    position: absolute;
    margin-left: 40%;
    margin-top: -57%;
    animation: tickets 1s steps(1) infinite;
}


/*.broken{
    position:relative;
    background-position: 0 0;
    border: #3D0707 solid 0.5vw;
    width: 53.5vw;
    height: 48vw;
    background: #FAEED6;
    margin-left: 42.2%;
    background-size: 100%;
    margin-top: 2%;
    overflow: hidden;
    background: url(../img/broken.png);
    animation: hourglass 0.9s steps(1) infinite;
}

.broken{
    border: #3D0707 solid 0.5vw;
    width: 53.5vw;
    height: 48vw;
    background: #FAEED6;
    margin-left: 42.2%;
    margin-top: 2%;
    overflow: hidden;
    background: url(../img/broken.png);
    animation: hourglass 0.9s steps(1) infinite;
}
 
.broken{
border: #3D0707 solid 0.5vw;
width: 53.5vw;
height: 48vw;
background: #FAEED6;
margin-left: 42.2%;
background-size: 100%;
margin-top: 2%;
overflow: hidden;
background: url(../img/broken.png);
animation: hourglass 0.9s steps(1) infinite;
}*/

.broken{
    border: #3D0707 solid 0.5vw;
    width: 53.5vw;
    height: 48vw;
    background: #FAEED6;
    margin-left: 42.2%;
    background-size: 100%;
    margin-top: 2%;
    overflow: hidden; }
   
.broken2 {
    width: 52vw;
    animation: hourglass 0.9s ease infinite;
    margin-left: 0%;
    margin-top: 0%;
}


.dicesect{
    margin-top: -10%;
    display: flex;
    align-items:flex-start;
}

.diceglasses{
    position:relative;
    width: 41%;
    margin-left: 2%;
    margin-top: -40%;
}



.dice1{
    position: absolute;
    width: 22%;
    margin-left: -45%;
    margin-top: -29%;
    animation: spin 1s infinite linear;
}


.dice2{
    position: absolute;
    width: 22%;
    margin-left: -33%;
    margin-top: -33%;
    animation: spin2 1s infinite linear;
}


.dice3{
    position: absolute;
    width: 22%;
    margin-left: -20%;
    margin-top: -30%;
    animation: spin3 1s infinite linear;
}


.rouletteee{
    width: 40vw;
    height: 36vw;
    background: url(../img/rouletteee.png);
    margin-top: -13%;
    margin-left: 2.3%;
    animation: rouletteee 2s steps(1) infinite;
}


.star2{
margin-top: -39%;
margin-left: -0.3%;
position: absolute;
height: 25%
}

.cardglass{
    width: 37vw;
    margin-left: 2.3%;
    margin-top: -11%
}

.champagne{
    border: #3D0707 solid 0.5vw;
    width: 53.5vw;
    height: 38vw;
    background: #FAEED6;
    margin-left: 42.2%;
    margin-top: -56%;
    overflow: hidden;
    background: url(../img/champagne.png);
    animation: champagne 0.9s steps(1) infinite;
}

.cardb{
    margin-top: -30%
}

.cardb1{
    width: 43%;
    margin-top: -15%;
    margin-left: 3%;
    animation: cardb1 3s ease infinite
}


.cardb2{
    width: 24%;
    margin-top: 2%;
    margin-left: -37%;
    position: absolute;
    animation: cardb2 3s ease infinite
}


.cardb3{
    position: absolute;
    width: 15.5%;
    margin-top: -5%;
    margin-left: -17%;
    animation: cardb3 3s ease infinite; 
}


.cardb4{
    width: 47%;
    margin-top: 3%;
    margin-left: -48%;
    animation: cardb4 3s ease infinite;
    position: absolute;
}

.glasssign{
    display:flex;
    align-items: flex-start;
}

.glasssign1{
    width: 35%;
    margin-top: -6%;
    animation: glasssign 3s ease infinite;
}


.glasssign2{
    width: 21%;
    margin-top: 3%;
    margin-left: -32%;
    animation: glasssign2 3s ease infinite;
}




.chips{
    border: #3D0707 solid 0.5vw;
    width: 53.5vw;
    height: 17.6vw;
    background: #FAEED6;
    margin-left: 42.2%;
    margin-top: -30.2%;
    overflow: hidden;
    background: url(../img/chips.png);
    animation: chips 0.9s steps(1) infinite;
}


.sign{
    position: absolute;
    width: 65%;
    margin-top: -5%
}

.casino{
    position: absolute;
    width: 27%;
    color:#C30000;
    margin-left: 19%;
    margin-top: 8%;
}

.oftime{
    position: absolute;
    width: 13%;
    margin-left: 26%;
    margin-top: 15%;
}

.dostoyevsky{
    position: absolute;
    font-size: 1.5vw;
    margin-left: 27%;
    margin-top: 5%;
}

.moscow{
    position: absolute;
    width: 37%;
    margin-left: 14.8%;
    margin-top: -0.5%;
}




.glasssign3{
    width: 36%;
    margin-top: 10%;
    margin-left: 1%;
    animation: glasssign3 3s ease infinite;
}

.glasssign4{
    width: 35.5%;
    margin-top: 2.3%;
    margin-left: 25.3%;
    animation: glasssign4 3s ease infinite;
}

.glasssign5{
    width: 56%;
    margin-top: 11.8%;
    margin-left: -56%;
    animation: glasssign5 3s ease infinite;
}

.signature{
    width: 49%;
    margin-left: 52%;
    position: absolute;
    margin-top: -7%;
    animation: signature 3s ease infinite;
}