@font-face {
    font-family: "Ambidexter-Regular";
    src: url("../fonts/ambidexter.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
    }

h1{ font-family: 'Ambidexter-Regular'; }
h2{ font-family: 'Ambidexter-Regular'; }

@font-face {
    font-family: "GaramondPremierPro-Regular";
    src: url("../fonts/garamondpremrpro.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
    }

    p{ font-family: 'GaramondPremierPro-Regular'; }


@font-face {
        font-family: "Ultra-Regular";
        src: url("../fonts/Ultra-Regular.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
        }
    
        h3{ font-family: 'Ultra-Regular'; }